.centerLink {
    display: none;
  }
  
  .othersLinks {
    flex-direction: column;
  }
  
   .leftLink,
  .rightLink {
    justify-content: center;
  }
  
  .rightLink {
    margin-top: 12px;
  }
  
  .headerLeft {
    display: flex;
    flex-direction: row;
    width: 50%;
  }
  
  
  .fa-bars {
    color: #70757a;
  }
  
  